<div>
  <mat-chip-listbox aria-label="byte size selection">
    <mat-chip-option>1 Byte</mat-chip-option>
    <mat-chip-option>2 Bytes</mat-chip-option>
    <mat-chip-option>4 Bytes</mat-chip-option>
  </mat-chip-listbox>
  <mat-chip-listbox aria-label="value selection" class="values-type">
    <mat-chip-option >Numbers</mat-chip-option>
    <mat-chip-option  >Hex</mat-chip-option>
    <mat-chip-option color="accent" selected>Assci</mat-chip-option>
    <mat-chip-option color="accent">Binary</mat-chip-option>
  </mat-chip-listbox>
</div>
