.mdc-evolution-chip__checkmark {
  display: none;
}

.mdc-evolution-chip__graphic {
  max-width: 0px;
  color: #3943a9;

}


.values-type {


  .mat-mdc-chip-selected{
    background-color: #2b9387 !important;
  }
}

