<mat-toolbar class="nav-bar" color="primary">
  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div [routerLink]="'/'" class="cursor-pointer">Assembly x86</div>


  <span class="example-spacer"></span>
  <button (click)="clickDemo()" aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>webhook</mat-icon>
  </button>
  <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button (click)="clickDocs()" aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>article</mat-icon>
  </button>

</mat-toolbar>
