<mat-toolbar class="nav-bar" color="primary">
<!--  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
  <div [routerLink]="'/'" class="cursor-pointer ml-5">Assembly x86</div>


  <span class="example-spacer"></span>

  <button (click)="clickSave()" aria-label=" save icon" class=" " mat-icon-button>
    <mat-icon>save</mat-icon>
  </button>
  <button aria-label="Example icon-button with heart icon" class=" " mat-icon-button>
    <mat-icon> folder </mat-icon>
  </button>
  <button (click)="clickDocs()" aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>school</mat-icon>
  </button>

</mat-toolbar>
