<mat-toolbar class="nav-bar" color="primary">
  <!--  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>-->
  <!--      <mat-icon>menu</mat-icon>-->
  <!--    </button>-->
  <div [routerLink]="'/'" class="cursor-pointer ml-5">Assembly x86</div>


  <span class="example-spacer"></span>
  <div *ngIf=" $recordNameInEdit | async ">
    <div (click)="editNameClickHandler($event)" *ngIf="!isRecordNameInEdit" [matTooltip]="'rename'" class="record-name rounded-lg  mx-4 px-2 py-0  rounded ">
      <span  > {{recordName}} </span>
    </div>
    <div [ngClass]=" {'hidden' : !isRecordNameInEdit}"  >
     <input #codeRecordRename  (blur)="finishedEditRecordName($event)"  (keyup.enter)="finishedEditRecordName($event)"  [(ngModel)]="recordName"  [ngStyle]="{'width' : calculateNameWidth($recordNameInEdit | async)}"  class="record-name bg-transparent mx-4 px-2 py-0  rounded-lg appearance-none"     />
    </div>
  </div>

  <button (click)="clickSave()" *ngIf="!($recordNameInEdit | async )" aria-label=" save icon" class=" " mat-icon-button>
    <mat-icon>save</mat-icon>
  </button>
  <button [matMenuTriggerFor]="menu" mat-button>Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <button aria-label="Example icon-button with heart icon" class=" " mat-icon-button>

    <mat-icon> folder</mat-icon>
  </button>
  <button (click)="clickDocs()" aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>school</mat-icon>
  </button>

</mat-toolbar>
