div.memory {
  max-width: 28vw;

  @media  screen and (max-width: 540px) {
    width: 98vw;
    max-width: 99vw;
  }
}
div.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  @media screen and (max-width: 540px) {
    display: inline-flex ;

  }
}
span.row {
  //display: flex;
  // flex-wrap: wrap;
  //margin: 0;
  //@media screen and (max-width: 540px) {
  //  display: inline-flex ;
  //
  //}

}
span.cell {
  position: relative;
 bottom: 0;
  display: inline-block;
  min-width: 30px;
  height: 17px;
  margin: 2px;
  padding: 3px;
  font-size: 11px;
  line-height: 1;
  border: 1px solid #3b3b3b;
  color: #000;
  border-radius: 3px;
  text-align: center;
}
