<div *ngIf="memory !== null" class="memory">
  <span *ngFor="let row of createRange(getRowCount())" class="row">
    <span *ngFor="let col of createRange(width)" class="col inline relative">
        <span (click)="clickCell(row, col)" *ngIf="memory?.isValid(createAddress(row, col))"
             [matTooltip]="'Address ' + createAddress(row, col) + ' ' +  getCellValue(createAddress(row, col))" class="cell cursor-pointer"
              matTooltipClass="memory-cell-mat-tooltip-class"   >
          {{ getCellValue(createAddress(row, col)) || '&nbsp;' }}
        </span>
    </span>
    <span class="w-1 h-5  border-r-black  border-r-2 " id="row-end">  </span>
<!--    md:border-r-0 -->
  </span>
</div>
