<div class="m-20 text-3xl flex flex-col gap-20 max-w-2xl">
  <div (cdkDropListDropped)="drop($event)" cdkDropList cdkDropListOrientation="horizontal" class="example-list">
    <div *ngFor="let timePeriod of timePeriods" cdkDrag class="example-box">
      <div>
        {{timePeriod}}

      </div>

    </div>
  </div>
  <div (cdkDropListDropped)="dropPanel($event)" *ngIf="(uiState$ | async)?.panels as panels" cdkDropList cdkDropListOrientation="horizontal" class="example-list">
    <div *ngFor="let panel of  panels" cdkDrag class="example-box">
      <div>
        {{panel.name}}
      </div>

    </div>
  </div>


<p>counter-demo works!</p>
  <button (click)="increment()" mat-raised-button>Increment</button>
  <div>Current Count: {{ count$ | async }}</div>
  <button  (click)="decrement()"  mat-raised-button>Decrement</button>
  <button  (click)="reset()" mat-raised-button>Reset Counter</button>
</div>
