@import "src/app/styles/custom/scroll-bar.scss";

html {
  font-family: Poppins, serif;
}

li {
  display: list-item
}

#documentation-component-wrapper {
  max-height: 89vh;
}

ol, ul {
  margin-top: unset;
  margin-bottom: unset;
}

:host ol {
  background-color: #a5e555;
  list-style: initial;
  margin: initial;
  padding: 20px;
}

.html-content {
  line-height: 180%;
  padding: 0 3em;
  font-family: Poppins, serif;

  h1, h2, h3, h4 {
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: x-large;
  }

  a {
    color: #15c;
    text-decoration: underline;

  }

  li {
    line-height: 200%;
    //color: red;
  }


  ol {
    margin-top: unset;
    margin-bottom: unset;
  }

  ol, ul, menu {
    list-style: initial;
    margin: initial;
    padding: initial;
  }

  table {
    th, td {
      padding: 5px 20px;

    }

    tr {
      border-bottom: 1px solid #b4b4b4;
      margin-right: 10px;
    }

    tr:last-child {
      border-bottom: 1px solid #b4b4b4;
      margin-bottom: 20px;
    }

    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  }

  div.code-block {
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;

    pre {
      display: block;
      padding: 13px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #333;
      word-break: break-all;
      word-wrap: break-word;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
  }

  button.run-code {
    color: white;
    background-color: #3a59f6;
    padding: 5px 20px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.07), 0 1px 5px rgba(0, 0, 0, 0.02);

    &:hover {
      box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    }

  }

  blockquote.new {
    background: rgba(65, 214, 147, 0.2);
    border-left: 4px solid #026e57;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    padding: 0.8rem;

    &:before {
      content: ' 👉 ';
      padding-right: 10px;
    }
  }
  code.inline-code {
    padding: 0.2em 0.15em;
    font-weight: 400;
    background-color: #f5f6fa;
    border: 1px solid #eeebee;
    border-radius: 4px;
  }
}

