@import "src/app/styles/custom/scroll-bar.scss";

html {
  font-family: Poppins, serif;
}

li {
  display: list-item
}

#documentation-component-wrapper {
  max-height: 89vh;
}

ol, ul {
  margin-top: unset;
  margin-bottom: unset;
}

:host ol {
  background-color: #a5e555;
  list-style: initial;
  margin: initial;
  padding: 20px;
}

.html-content {
  padding: 0 3em;
  font-family: Poppins, serif;

  li {
    line-height: 200%;
    //color: red;
  }


  ol {
    margin-top: unset;
    margin-bottom: unset;
  }

  ol, ul, menu {
    list-style: initial;
    margin: initial;
    padding: initial;
  }

  table {
    th, td {
      padding: 5px 20px;

    }
    tr {
      border-bottom: 1px solid #b4b4b4;
    }

  }

}

