

div.flag, div.register {
  @apply flex flex-row gap-2 p-1 items-center;
  span {
     @apply w-14 text-lg pt-2;
    &:first-child{
      background-color: #3f51b5;
    }
    &:nth-child(2) {
      background-color: #ccc8ca;
      color: black;
    }
  }
}
