@import "src/app/styles/custom/scroll-bar.scss";

.editor-card {
  margin: 2em;
  padding: 2em;
  width: 50vw;

}
.nav-bar-spacer {
  width: 90%;
  height: 58px;
  min-height: 64px;
}
#utils-wrapper {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
