<div class="flex flex-col md:m-12 mt-2 sm:m-1 overflow-y-hidden" id="core-app-wrapper">
  <div class="nav-bar-spacer"></div>
  <div class="flex flex-row items-center gap-1 md:gap-5 pl-1 mb-5" id="execution-wrapper">

    <execution-controls [process]="runtime.process"></execution-controls>
    <button (click)="requestCompile()" class="md:w-40 sm:w-5 mt-1" color="primary" mat-raised-button title="Assemble">
      Assemble
    </button>
    <div class=" max-w-0 md:max-w-2xl">
      <display-cockpit></display-cockpit>
    </div>
  </div>
  <div class="sm:flex  sm:flex-col md:flex-row" id="main-columns-wrapper">

    <div class="flex flex-col gap-5  max-h-screen" id="core-app-code-column">

      <div class="editor-wrapper">
        <asm-editor (breakpointChange)="onBreakpointChanged($event)"
                    (compile)="compileSource($event)"
                    [activeLine]="getActiveLine()"></asm-editor>
        <div class="errors">{{ compileErrors }}</div>
      </div>
    </div>

    <div class="px-5 flex flex-col gap-5  max-h-screen " id="core-app-utils-column">


      <div *ngIf="(uiState$ | async)?.panels as panels" class="flex  flex-col" id="utils-wrapper">
        <div class="visible md:invisible mt-10">
          <display-cockpit></display-cockpit>
        </div>
        <div
          [ngStyle]="{'display'  : getDisplayProps('console',panels).visibility ? '' : 'none' ,  order: getDisplayProps('console',panels).order }"
          class="console-wrapper">
          <h3>Console</h3>
          <console></console>
        </div>
        <div
          [ngStyle]="{'display'  : getDisplayProps('cpu',panels).visibility ? '' : 'none' ,order: getDisplayProps('cpu',panels).order }"
          class="cpu-wrapper">
          <h3>CPU</h3>
          <cpu *ngIf="runtime.process?.cpu" [cpu]="runtime.process .cpu"></cpu>
        </div>
        <div
          [ngStyle]="{'display'  : getDisplayProps('memory',panels).visibility ? '' : 'none' ,order: getDisplayProps('memory',panels).order }"
          class="memory-wrapper">
          <h3>Memory</h3>
          <div *ngIf="runtime.hasProcess()" class="inner">
            Byte size:
            <div class="size-wrapper">
              <label *ngFor="let item of [1, 2, 4]" class="size-label">
                <input (click)="memory.wordSize = item" [checked]="item === memory.wordSize" name="memory-word-size"
                       type="radio"><span>{{item}}</span></label>
            </div>
            Ascii: <input (change)="memoryChecked($event) " [checked]="memory.ascii" type="checkbox" />
            <memory #memory [memory]="runtime.process.cpu.memory || undefined"></memory>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
