li {
  display: list-item
}

::ng-deep ol, ul {
  margin-top: unset;
  margin-bottom: unset;
}

:host ::ng-deep ol {
  background-color: #a5e555;
  list-style: initial;
  margin: initial;
  padding: 20px;
}

.html-content {
  padding: 2em;
}

.html-content li {
  color: red;
}

.html-content ::ng-deep ol {
  margin-top: unset;
  margin-bottom: unset;
}

.html-content ::ng-deep ol,
.html-content ul,
.html-content menu {
  list-style: initial;
  margin: initial;
  padding: initial;
}
